* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  background: white;
  min-height: 200vh;
  font-size: 16px;
  line-height: 1.55;
  background: #504ab5;
}

a {
  text-decoration: none;
}

.headerWrapper {
  width: 100%;
  background: #504AB5;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navUl {
  display: flex;
  gap: 20px;
}

.navLi {
  list-style: none;
}
.navLi a {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 70px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero {
  height: 85vh;
  background: linear-gradient(to right, rgba(80, 74, 181, 0.4), 60%, rgba(181, 80, 74, 0.4), 90%, rgba(74, 181, 80, 0.4)), url("/img/hero.jpg");
  background-position: top center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logoText {
  font-weight: 400;
}

.title {
  font-size: 400%;
  font-weight: 600;
}

.heading2 {
  font-weight: 400;
  font-size: 300%;
}

.cta {
  background: #4AB550;
  border: none;
  font-size: 100%;
  font-family: "Open sans", sans-serif;
  border-radius: 5px;
  padding: 20px 40px;
  color: white;
  border-bottom: 5px solid #3b9140;
  transition: 0.2s all;
  width: 200px;
}

.cta:hover {
  cursor: pointer;
}

.cta:active {
  background: #3b9140;
  border-bottom: 5px solid transparant;
  transform: translateY(2px);
}

@media screen and (max-width: 1000px) {
  body {
    padding: 0;
    font-size: 80%;
  }
  .navUl {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    gap: 20px;
    background: linear-gradient(to right, rgba(80, 74, 181, 0.5), rgba(80, 74, 181, 0.5)), url("/img/hero.jpg");
    background-position: top center;
    background-size: cover;
  }
  .title {
    position: relative;
    font-size: 300%;
    top: auto;
    left: 0;
    text-align: center;
  }
}
.waarom-wij-over-ons {
  display: flex;
  color: black;
  background: white;
}

.waarom-wij-text {
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.waarom-wij-afbeelding {
  height: 500px;
  width: 50%;
}

.waarom-wij-afbeelding img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paragraaf {
  max-width: 65ch;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1000px) {
  .heading2 {
    font-size: 200%;
  }
  .waarom-wij-over-ons {
    flex-direction: column;
  }
  .waarom-wij-afbeelding, .waarom-wij-text {
    width: 100%;
  }
}
.onze-stappen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 1000px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stappen {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stap {
  width: 800px;
  background: white;
  list-style: none;
  border-radius: 5px;
  color: black;
  display: flex;
  gap: 10px;
  height: 300px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.stap img {
  height: 100%;
  width: 30%;
  object-position: top;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.stap div {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.heading3 {
  font-size: 150%;
}

/*# sourceMappingURL=style.css.map */
